@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*
{
    box-sizing: border-box;
}

body
{
    font-family: serif;
    margin: 0;
    padding: 0;
}
.container
{
    width: 1440px;
    margin: 0 auto;
}
.wrapper
{
   
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 60px 0 43px;
}
.menu__0, .menu__1
{
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}
.menu__1 .menu__item
{
    margin-right: 30px;
}
.menu__item
{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    text-decoration: none;
    padding-bottom: 6px;
    transition: 0.2s;
}
.menu__item:hover, .menu__item.active 
{ 
    border-bottom: 2px #E51937 solid;
    color: #E51937;
} 
.item0
{
    margin-right: 63px;
}
.item1
{
    margin-right: 25px;
}
.item2
{
    margin-right: 44px;
}
.item3
{
    margin-right: 46px;
}
.tesla__title
{
    background-image: url(/static/img/Tesla\ logo\ +\ car.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 594px;
    margin-bottom: 26px;
}
.tesla__title h1
{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 90px;
    line-height: 110px;
}
.tesla__title p
{
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}
