<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesla</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header class="wrapper">
      <div class="container">
        <nav>
            <div class="logo">
                <a href="#"><img src="/static/img/Tesla-Wordmark-Red.png" alt=""></a>
            </div>
            <ul class="menu__0">
                <li><a href="" class="item0 menu__item active">Model S</a></li>
                <li><a href="" class="item1 menu__item">Model X</a></li>
                <li><a href="" class="item2 menu__item">Model 3</a></li>
                <li><a href="" class="item3 menu__item">Roadster</a></li>
                <li><a href="" class="item4 menu__item">Model Y</a></li>
            </ul>
            <ul class="menu__1">
                <li><a href="" class="menu__item">Магазин</a></li>
                <li><a href="" class="menu__item">Войти</a></li>
                <li><img src="/static/img/menu.png"></li>
            </ul>
        </nav>
        <div class="tesla__title">
            <h1>Model S</h1>
            <p>Добро пожаловать в будущее!</p>
        </div>
    </div>  
    <div class="tesla__info">
        <div class="info__box">
            <img class="info__box__img" src="/static/img/Speed.png" alt="">
            <div class="info__box__text">
                <div class="info__box__text0">2.7 <span>сек</span></div>
                <div class="info__box__text1">0-100 км/час</div>
            </div>
        </div>

        <div class="info__box">
            <img class="info__box__img" src="/static/img/Road icon.png" alt="">
            <div class="info__box__text">
                <div class="info__box__text0">632 <span>км</span></div>
                <div class="info__box__text1">запас хода</div>
            </div>
        </div>

        <div class="test__drive">
            <img src="/static/img/steering-wheel.png" alt="">
            <div>Тест драйв</div>
        </div>
        <div class="order">Заказать</div>
    </div>    
    <a class="scroll__bottom" href="#">
        <img src="/static/img/Vector-1.png" alt="">
    </a>
    </div>
   
</header>
<section class="about">
      <div class="container">
        <div class="about__inner">
        <div class="left-section">
            <h2>Model S</h2>
        </div>
        <div class="right-section">
          <div class="about-top__inner">
            <div class="about-top">
               <h3>Будущее вождения</h3>
               <p>Модель S обладает лучшей в своем классе вместимостью: в машине поместится до пяти взрослых и двух детей. Оснащена современным 17-дюймовым сенсорным экраном. Усовершенствованная шумовая инженерия создает динамику звука, сравнимую со студией звукозаписи, а стеклянная крыша обеспечивает просторный интерьер для каждого пассажира.</p>
            </div>
         <div class="features__box">     
            <div class="features">
                <img class="features__img" src="/static/img/Display.png" alt="">
                <div class="features__text-box">
                    <h4 class="features__title"><span class="features__accent">17</span> дюймов</h4>
                    <p class="features__text">Большой дисплей</p>
                </div>
            </div>
       
            <div class="features">
                <img class="features__img" src="/static/img/Wireless soft.png" alt="">
                <div class="features__text-box">
                    <h4 class="features__title">Беспроводное обновление ПО</h4>
                    <p class="features__text">Повышенная функциональность</p>
                </div>
            </div>

            <div class="features">
                <img class="features__img" src="/static/img/Bag capacity.png" alt="">
                <div class="features__text-box">
                    <h4 class="features__title"><span class="features__accent">894</span> литра</h4>
                    <p class="features__text">Объем грузового пространства</p>
                </div>
            </div>
            </div>
        </div>
        <div class="about-bottom">
            <div class="info">
                <img src="/static/img/Learn more 2 btn.png" alt="">
                <div><a href="#">Узнать больше</a></div>
            </div>
            <div class="order inverse__button">Заказать</div>
        </div>
   </div>
</div>
</div>
</section>  

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="footer__left-head">
                    <h3>Самый безопасный автомобиль в мире</h3>
                    <p>Модель S достигла наивысшей оценки безопасности любого автомобиля, когда-либо испытанного, и установила рекорд по наименьшей вероятности травмы пассажиров - от несчастных случаев на переднем, боковом, заднем сидении и в ДТП с переворотом авто.</p>
                </div>
                <div class="footer__left-body">
                    <h3>Оценка защиты:</h3>
                    <!-- <form action="#" class="form form__margin"> -->
                        <div data-ajax="true" class="rating rating_change">
                            <div class="rating__title">Спереди</div><br><br>
                            <!-- <div id="rating-1" class="rating__items">
                                <input id="rating__5" type="radio" class="rating__item" name="rating" value="5">
                                <label for="rating__5" class="rating__label"></label>
                                <input id="rating__4" type="radio" class="rating__item" name="rating" value="4">
                                <label for="rating__4" class="rating__label"></label>
                                <input id="rating__3" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating__3" class="rating__label"></label>
                                <input id="rating__2" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating__2" class="rating__label"></label>
                                <input id="rating__1" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating__1" class="rating__label"></label>
                            </div> -->
                            
                            <div class="rating__body">
                                <div class="rating__active"></div>
                                <div class="rating__items">
                                    <input type="radio" class="rating__item" name="rating" value="1">
                                    
                                    <input type="radio" class="rating__item" name="rating" value="2">
                            
                                    <input type="radio" class="rating__item" name="rating" value="3">
                                
                                    <input type="radio" class="rating__item" name="rating" value="4">
                                    
                                    <input type="radio" class="rating__item" name="rating" value="5">
                              
                                </div>
                            </div>
                            <div class="rating__value">3.6</div>
                        </div>  
                        <div data-ajax="true" class="rating rating_change">
                            <div class="rating__title">Сбоку</div>
                            <!-- <div id="rating-2" class="rating__items">
                                <input id="rating__5" type="radio" class="rating__item" name="rating" value="5">
                                <label for="rating__5" class="rating__label"></label>
                                <input id="rating__4" type="radio" class="rating__item" name="rating" value="4">
                                <label for="rating__4" class="rating__label"></label>
                                <input id="rating__3" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating__3" class="rating__label"></label>
                                <input id="rating__2" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating__2" class="rating__label"></label>
                                <input id="rating__1" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating__1" class="rating__label"></label>
                            </div> -->
                            <div class="rating__body">
                                <div class="rating__active"></div>
                                <div class="rating__items">
                                    <input type="radio" class="rating__item" name="rating" value="6">
                                    
                                    <input type="radio" class="rating__item" name="rating" value="7">
                            
                                    <input type="radio" class="rating__item" name="rating" value="8">
                                
                                    <input type="radio" class="rating__item" name="rating" value="9">
                                    
                                    <input type="radio" class="rating__item" name="rating" value="10">
                              
                                </div>
                            </div>
                            <div class="rating__value">3.6</div>
                        </div>
                        <div data-ajax="true" class="rating rating_change">
                            <div class="rating__title">Сбоку <span class="rating__add">(Стойка)</span></div>
                            <!-- <div id="rating-3" class="rating__items">
                                <input id="rating__5" type="radio" class="rating__item" name="rating" value="5">
                                <label for="rating__5" class="rating__label"></label>
                                <input id="rating__4" type="radio" class="rating__item" name="rating" value="4">
                                <label for="rating__4" class="rating__label"></label>
                                <input id="rating__3" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating__3" class="rating__label"></label>
                                <input id="rating__2" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating__2" class="rating__label"></label>
                                <input id="rating__1" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating__1" class="rating__label"></label>
                            </div> -->
                            <div class="rating__body">
                                <div class="rating__active"></div>
                                <div class="rating__items">
                                    <input type="radio" class="rating__item" name="rating" value="11">
                                    
                                    <input type="radio" class="rating__item" name="rating" value="12">
                            
                                    <input type="radio" class="rating__item" name="rating" value="13">
                                
                                    <input type="radio" class="rating__item" name="rating" value="14">
                                    
                                    <input type="radio" class="rating__item" name="rating" value="15">
                              
                                </div>
                            </div>
                            <div class="rating__value">3.6</div>
                        </div>
                        <div class="rating">
                            <div class="rating__title">ВОДИТЕЛЬ</div>
                            <!-- <div id="rating-4" class="rating__items">
                                <input id="rating__5" type="radio" class="rating__item" name="rating" value="5">
                                <label for="rating__5" class="rating__label"></label>
                                <input id="rating__4" type="radio" class="rating__item" name="rating" value="4">
                                <label for="rating__4" class="rating__label"></label>
                                <input id="rating__3" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating__3" class="rating__label"></label>
                                <input id="rating__2" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating__2" class="rating__label"></label>
                                <input id="rating__1" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating__1" class="rating__label"></label>
                            </div> -->
                        </div>
                        <div class="rating">
                            <div class="rating__title">Пассажир</div>
                            <!-- <div id="rating-5" class="rating__items">
                                <input id="rating__5" type="radio" class="rating__item" name="rating" value="5">
                                <label for="rating__5" class="rating__label"></label>
                                <input id="rating__4" type="radio" class="rating__item" name="rating" value="4">
                                <label for="rating__4" class="rating__label"></label>
                                <input id="rating__3" type="radio" class="rating__item" name="rating" value="3">
                                <label for="rating__3" class="rating__label"></label>
                                <input id="rating__2" type="radio" class="rating__item" name="rating" value="2">
                                <label for="rating__2" class="rating__label"></label>
                                <input id="rating__1" type="radio" class="rating__item" name="rating" value="1">
                                <label for="rating__1" class="rating__label"></label>
                            </div> -->
                        </div>
                       <button type="submit" class="form__btn btn">Отправить</but>
                   <!-- </form> -->
                </div>
                <div class="footer__left-bottom">
                    <div class="features">
                        <img class="features__img" src="/static/img/security.png" alt="">
                        <div class="features__text-box">
                            <h4 class="features__title">5 звезд</h4>
                            <p class="features__text">безопасности</p>
                        </div>
                    </div>
                    <div class="main-bottom">
                        <div class="info" id="info">
                            <img src="/static/img/Learn more 2 btn.png" alt="">
                            <div><a href="#">Узнать больше</a></div>
                        </div>
                        <div id="order" class="order inverse__button">Заказать</div>
                    </div>
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__model-text">
                    Model S
                </div>
                <img class="footer__img" src="/static/img/Car frame.png" alt="">
                <div class="footer__info item-1">
                    <img src="/static/img/line1.png" alt="">
                    <div>Защита от удара спереди</div>
                </div>
                <div class="footer__info item-2">
                    <img src="/static/img/line2.png" alt="">
                    <div>Защита от удара сбоку</div>
                </div>
                <div class="footer__info item-3">
                    <img src="/static/img/line3.png" alt="">
                    <div>Минимальный риск перевернуться в аварии</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/static/js/main.js"></script>
</body>
</html>