<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesla</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header class="wrapper">
        <div class="container"></div>
        <nav>
            <div class="logo">
                <a href="#"><img src="/static/img/Tesla-Wordmark-Red.png" alt=""></a>
            </div>
            <ul class="menu__0">
                <li><a href="" class="item0 menu__item active">Model S</a></li>
                <li><a href="" class="item1 menu__item">Model X</a></li>
                <li><a href="" class="item2 menu__item">Model 3</a></li>
                <li><a href="" class="item3 menu__item">Roadster</a></li>
                <li><a href="" class="item4 menu__item">Model Y</a></li>
            </ul>
            <ul class="menu__1">
                <li><a href="" class="menu__item">Магазин</a></li>
                <li><a href="" class="menu__item">Войти</a></li>
                <li><img src="/static/img/menu.png"></li>
            </ul>
        </nav>
        <div class="tesla__title">
            <h1>Model S</h1>
            <p>Добро пожаловать в будущее!</p>
        </div>
    </header>
</body>
</html>