<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Tesla</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/static/css/modelX.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/site.webmanifest">
    <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header class="wrapper">
      <div class="container">
        <nav>
            <div class="logo">
                <a href="/"><img src="/static/img/Tesla-Wordmark-Red.png" alt=""></a>
            </div>
            <ul class="menu__0">
                <li><a href="/" id="section-1" class="item0 menu__item">Model S</a></li>
                <li><a href="/modelX" id="section-2" class="item1 menu__item active">Model X</a></li>
                <li><a href="/model3" id="section-3" class="item2 menu__item">Model 3</a></li>
                <li><a href="/roadster" id="section-4" class="item3 menu__item">Roadster</a></li>
                <li><a href="/modelY" id="section-5" class="item4 menu__item">Model Y</a></li>
            </ul>
            <ul class="menu__1">
                <li><a href="/tesla-store" id="section-6" class="menu__item">Магазин</a></li>
                <li><a href="" id="section-7" class="menu__item">Войти</a></li>
                
            </ul>
        </nav>
        <div class="burger__menu">
            <a href="#" class="burger-menu__button"><span class="burger-menu__lines"></span></a>

            <nav class="burger-menu__nav">
                <a class="burger-menu__link" href="/">Model S</a>
                <a class="burger-menu__link" href="/modelX">Model X</a>
                <a class="burger-menu__link" href="/model3">Model 3</a>
                <a class="burger-menu__link" href="/roadster">Roadster</a>
                <a class="burger-menu__link" href="/modelY">Model Y</a>
                <a class="burger-menu__link" href="/tesla-store">Магазин</a>
                <a class="burger-menu__link" href="#section-7">Войти</a>
            </nav>
            <div class="burger-menu__overlay">
                
            </div>
        </div>
        
        <div class="tesla__title">
            <h1>Model X</h1>
            <p>Добро пожаловать в будущее!</p>
        </div>
    </div>  
    <div class="tesla__info">
        <div class="info__box">
            <img class="info__box__img" src="/static/img/Speed.png" alt="">
            <div class="info__box__text">
                <div class="info__box__text0">2.7 <span>сек</span></div>
                <div class="info__box__text1">0-100 км/час</div>
            </div>
        </div>

        <div class="info__box">
            <img class="info__box__img" src="/static/img/Road icon.png" alt="">
            <div class="info__box__text">
                <div class="info__box__text0">632 <span>км</span></div>
                <div class="info__box__text1">запас хода</div>
            </div>
        </div>

        <div class="test__drive">
            <img src="/static/img/steering-wheel.png" alt="">
            <a href="#" class="test__drive__title">Тест драйв</a>
        </div>
        <div data-modal  class="order">Заказать</div>
    </div>    
    <a href="#about" class="scroll__bottom" href="#">
        <img src="/static/img/Vector-1.png" alt="">
    </a>
    <div class="scroll__top"></div>
    </div>
   
</header>
<section class="about" id="about">
      <div class="container">
        <div class="about__inner">
        <div class="left-section">
            <h2>Model X</h2>
        </div>
        <div class="right-section">
          <div class="about-top__inner">
            <div class="about-top">
               <h3>Будущее вождения</h3>
               <p>Модель X обладает лучшей в своем классе вместимостью: в машине поместится до пяти взрослых и двух детей. Оснащена современным 17-дюймовым сенсорным экраном. Усовершенствованная шумовая инженерия создает динамику звука, сравнимую со студией звукозаписи, а стеклянная крыша обеспечивает просторный интерьер для каждого пассажира.</p>
            </div>
         <div class="features__box">     
            <div class="features">
                <img class="features__img" src="/static/img/Display.png" alt="">
                <div class="features__text-box">
                    <h4 class="features__title"><span class="features__accent">17</span> дюймов</h4>
                    <p class="features__text">Большой дисплей</p>
                </div>
            </div>
       
            <div class="features">
                <img class="features__img" src="/static/img/Wireless soft.png" alt="">
                <div class="features__text-box">
                    <h4 class="features__title">Беспроводное обновление ПО</h4>
                    <p class="features__text">Повышенная функциональность</p>
                </div>
            </div>

            <div class="features">
                <img class="features__img" src="/static/img/Bag capacity.png" alt="">
                <div class="features__text-box">
                    <h4 class="features__title"><span class="features__accent">894</span> литра</h4>
                    <p class="features__text">Объем грузового пространства</p>
                </div>
            </div>
            </div>
        </div>
        <div class="about-bottom">
            <div class="info">
                <img src="/static/img/Learn more 2 btn.png" alt="">
                <div><a href="/static/img/tesla.txt" download="tesla-info">Узнать больше</a></div>
            </div>
            <div data-modal class="order inverse__button">Заказать</div>
        </div>
   </div>
</div>
</div>
</section>  

<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="footer__left-head">
                    <h3>Самый безопасный автомобиль в мире</h3>
                    <p>Модель X достигла наивысшей оценки безопасности любого автомобиля, когда-либо испытанного, и установила рекорд по наименьшей вероятности травмы пассажиров - от несчастных случаев на переднем, боковом, заднем сидении и в ДТП с переворотом авто.</p>
                </div>
                <div class="footer__left-body">
                    <h3>Оценка защиты:</h3>
                     
                        <div data-ajax="true" class="ratingMain">
                            <h4 class="rating__title">Спереди</h4>
                            <div class="rating">
                                <input type="radio" name="rating">
                                <input type="radio" name="rating">
                                <input type="radio" name="rating">
                                <input type="radio" name="rating">
                                <input type="radio" name="rating">
                                <input type="radio" name="rating">
                                <input type="radio" name="rating">
                                <input type="radio" name="rating">
                                <input type="radio" name="rating">
                                <input type="radio" name="rating">
                               
                            </div>    
                        </div>  
                       <div data-ajax="true" class="ratingMain">
                            <h4 class="rating__title">Сбоку</h4>
                            <div class="rating">
                                <input type="radio" name="rating1">
                                <input type="radio" name="rating1">
                                <input type="radio" name="rating1">
                                <input type="radio" name="rating1">
                                <input type="radio" name="rating1">
                                <input type="radio" name="rating1">
                                <input type="radio" name="rating1">
                                <input type="radio" name="rating1">
                                <input type="radio" name="rating1">
                                <input type="radio" name="rating1">
                                
                                                               
                            </div>    
                        </div>  
                        <div data-ajax="true" class="ratingMain">
                            <h4 class="rating__title">Сбоку <span class="rating__add">(Стойка)</span></h4>
                            <div class="rating">
                                <input type="radio" name="rating2">
                                <input type="radio" name="rating2">
                                <input type="radio" name="rating2">
                                <input type="radio" name="rating2">
                                <input type="radio" name="rating2">
                                <input type="radio" name="rating2">
                                <input type="radio" name="rating2">
                                <input type="radio" name="rating2">
                                <input type="radio" name="rating2">
                                <input type="radio" name="rating2">
                                
                            </div>                          
                        </div>
                        <div data-ajax="true" class="ratingMain">
                            <h4 class="rating__title">ВОДИТЕЛЬ</h4>
                            <div class="rating">
                                <input type="radio" name="rating3">
                                <input type="radio" name="rating3">
                                <input type="radio" name="rating3">
                                <input type="radio" name="rating3">
                                <input type="radio" name="rating3">
                                <input type="radio" name="rating3">
                                <input type="radio" name="rating3">
                                <input type="radio" name="rating3">
                                <input type="radio" name="rating3">
                                <input type="radio" name="rating3">
                            
                            </div>    
                        </div>  
                        <div data-ajax="true" class="ratingMain">
                            <h4 class="rating__title">Пассажир</h4>
                            <div class="rating">
                                <input type="radio" name="rating4">
                                <input type="radio" name="rating4">
                                <input type="radio" name="rating4">
                                <input type="radio" name="rating4">
                                <input type="radio" name="rating4">
                                <input type="radio" name="rating4">
                                <input type="radio" name="rating4">
                                <input type="radio" name="rating4">
                                <input type="radio" name="rating4">
                                <input type="radio" name="rating4">

                            </div>    
                        </div>  
                       <!-- <button type="submit" class="form__btn btn">Отправить</but> -->
                   </div>
                <div class="footer__left-bottom">
                    <div class="features">
                        <img class="features__img" src="/static/img/security.png" alt="">
                        <div class="features__text-box">
                            <h4 class="features__title">5 звезд</h4>
                            <p class="features__text">безопасности</p>
                        </div>
                    </div>
                    <div class="main-bottom">
                        <div class="info" id="info">
                            <img src="/static/img/Learn more 2 btn.png" alt="">
                            <div><a href="/static/img/tesla.txt" download="tesla-info">Узнать больше</a></div>
                        </div>
                        <div data-modal  id="order" class="order inverse__button">Заказать</div>
                    </div>
                </div>
            </div>
            <div class="footer__right">
                <div class="footer__model-text">
                    Model X
                </div>
                <img class="footer__img" src="/static/img/Car frame.png" alt="">
                <div class="footer__info item-1">
                    <img src="/static/img/line1.png" alt="">
                    <div>Защита от удара спереди</div>
                </div>
                <div class="footer__info item-2">
                    <img src="/static/img/line2.png" alt="">
                    <div>Защита от удара сбоку</div>
                </div>
                <div class="footer__info item-3">
                    <img src="/static/img/line3.png" alt="">
                    <div>Минимальный риск перевернуться в аварии</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="modal">
    <div class="modal__body">
        <div class="modal__content">
            <form  action="#">
            <div class="modal__close" data-close>&times;</div>
            <div class="modal__title">Заполните все поля для начало</div>
            <input required="" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off placeholder="ФИО" name="name" type="text" class="modal__input">
            <input required="" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off name="phone" type="tel" id="phone"  placeholder="Ваш номер телефона" class="modal__input">
            <input required="" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off type="email" id="email" name="email" placeholder="Ваш емеил" class="modal__input">
            <button class="btn btn_dark btn_min">Отправить</button>
            </form>
        </div>
    </div>
</div>

<div class="trailer">
    <video src="/static/img/test.mp4" controls="true"></video>
    <img src="/static/img/close.png" class="close">
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/main.js"></script>
</body>
</html>